/*
Swipe animation:

$(document).ready(function(){
    $("button").click(function(){
        $("div").animate({
            left: '250px', //or right - depend the swipe direction
            opacity: '0.0',
            height: 'Pic size',
            width: 'Pic size'
        });
    });
});
*/

@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville);

a,span,h1,h2,h3,p{
  font-family: Lato;
}

.libreBfont{
  font-family: Libre Baskerville !important;
}

.uppercase{
  text-transform: uppercase !important;
}

body,html{
  padding:0;
  margin:0;
  overflow: hidden;
}

::-webkit-input-placeholder {
   position: relative;
   left:25px;
}

:-moz-placeholder { /* Firefox 18- */
   position: relative;
   left:25px;
}

::-moz-placeholder {  /* Firefox 19+ */
   position: relative;
   left:25px;
}

:-ms-input-placeholder {  
   position: relative;
   left:25px;
}

#splashscreen{
  width: 360px;
  height: 568px;
  background-image: url('../images/splash.jpg');
  background-repeat: no-repeat;
  z-index: 999;
}

#wrapper{
  display: block;
  background-color: #171820;
  margin:0 auto;
  width: 100%;
  height: 568px;
}

.header{
    font-size: 18px !important;
    border: 2px solid #fff7d4;
    color: #fff7d4;
    padding: 10px; 
    display: block;
    width: 100%;
    text-transform: initial !important;
    text-align: center;
    width: 100%;
}

.header-logo{
    width:100px;
    height:100px;
    position:relative;
    display: block;
    margin:0 auto;
    background-image: url('../images/logo208.png');
    top:31px;
  }

  .gold{
    color: #fff7d4;
  }

.goldenbtn{
    border: #fff7d3 1px solid;
    text-align: center;
    color: #fff7d3;
    text-transform: uppercase;
  }

.goldenbtn > span{
    position: relative;
    top:14px;
  }

  .sendicon{
    width: 54px;
    height: 42px;
    background-image: url('../images/sendinvitation.png');
    z-index: 999999999;
    position: absolute;
    left: 9px;
    top: 19px;
  }

  .h55blue{
    width: 100%;
    background-color: #212437;
    color: #fff7d4;
    text-transform: uppercase;
  }

  .height55{
    height:55px;
  }

  .size50{
    font-size: 50px;
  }

  .size30{
    font-size: 30px;
  }

  .size40{
    font-size: 40px;
  }

  .size18{
    font-size: 18px;
  }

  .size15{
    font-size: 15px;
  }

  .width30{
      width: 30px !important;
  }

  .noborder{
      border:none;
  }

  .inline-block{
    display: inline-block !important;
  }

  .block{
    display: block;
  }

  .left25{
    left: 25px;
  }

  .height100{
    height:100%;
  }

  .overflow{
    overflow: hidden;
  }

  .margtop30{
      margin-top: 30px !important;
  }

  .margtop20{
      margin-top: 20px !important;
  }

  .margtop10{
      margin-top: 10px !important;
  }

  .marginright50{
    margin-right: 50px;
  }

  .center{
    text-align: center;
    margin:0 auto;
  }

  .scroll{
    overflow: scroll;
  }

  .maxheight335{
    height: 335px;
    max-height: 335px;
  }

  .maxheight245{
      height: 245px;
      max-height: 245px;
  }

  .maxheight312{
    height: 312px;
    max-height: 312px;
  }    

  .maxheight520{
    max-height: 520px;
  } 

  .darkblue{
    background-color: #2c2d3b;
  }

  .paddbor{
      border: 1px solid #625e62;
      padding-top: 6px;
  }

  .darkviolet{
    background-color: #2c2d3b;
  }

  .titledisplay{
    position: relative;
      bottom: 18px;
      left: 8px;
  }

    .friend-details-wrapper{
        position: relative;
        top:5px;
    }

  .height70{
      height: 70px;
  }

  .imgprof{
    width: 48px;
    height: 48px;
    border-radius: 150px;
    margin-left: 26px;
    background-color: #B2B3D8;
  }

  .h54{
    height: 54px;
    text-align: center;
  }

  .h54 > span{
    position: relative;
    top:10px;
    font-size: 18px;
    top: 20px;
  }

  .rglbtn{
    background-color: #171820 !important;
  }

  .rglbtn:hover, .rglbtn:active{
    background-color: #1c1d33 !important;
  }

  .height100{
    height:100% !important;
  }

  .height76{
    height:76px !important;
  }

  .relative{
    position: relative;
  }

  .marginleft25{
    margin-left:25px;
  }

  .searchbtn{
    width:40px;
    height:40px;
    background-image: url('../images/search.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 5px;
    right: 10px;
  }

  .category{
        width: 60px;
        height: 60px;
        background-color: #e3d5b2;
        border-radius: 150px;
        background-repeat: no-repeat;
        background-size: contain;
        margin-right: 12px;
        margin-bottom: 15px;
    }

  .paddtb15{
      padding-top: 15px;
      padding-bottom: 15px;
  }



  .top-10{
    top:-10px;
  }

  #category-wrapper{
    width: 288px;
    margin-top: 15px;
  }


  .pointer{
        cursor: pointer;
  }


  .yellowCover{
      background-color: #9a9383 !important;
  }

  .clear{
    clear: both;
  }


  /*

    Signup CSS

  */

  .signup-header{
    text-align: center;
    width: 100%;
    font-size: 45px;
    height:279px;
  }

  .signup-body{
    width: 100%;
    position: relative;
    text-align: center;
    margin-top: 15px;
    height: 240px;
  }

  .connectbtn{
      width: 250px;
      height: 45px;
      margin: 0 auto;
      position: relative;
  }


  /*

    Welcome CSS

  */


  .welcome-wrapper{
    width: 100%;
  }

  .welcome-header{
    height: 170px;
  }

  .welcome-body img{
      text-align: center;
      display: block;
      margin: 0 auto;
      border-radius: 120px;
  }

  .connectbtn2{
    width: 150px;
      height: 45px;
      margin: 0 auto;
  }

  .welcometext{
    margin:0 auto;
    text-align: center;
    margin-top: 20px;
  }

  .welcome-body{
    height: 240px;
  }

  .welcome-footer{
    position: relative;
      top: 65px;    
  }


  /*

    Home CSS

  */

  .home-wrapper{
    position: relative;
      height: 100%;
  }

  .home-body{
    width: 100%;
    height: 150px;
    text-align: center;
  }

  .home-body button{
    border-radius: 100px;
    width: 150px;
    height: 100px;
    margin-top: 15px;
  }

  .home-footer{
    width: 100%;
    height: 78px;
    position: absolute;
      bottom: 0px;
    background-color: #2c2d3b;
  }

  .home-footer > .footer-navbar > div{
    float: left;
    width: 50%;
    text-align: center;
    position: relative;
  }

  .invitebtn{
    width: 270px;
    height: 270px;
    background-image: url('../images/invitefriends.png');
    display: block;
      margin: 0 auto; 
      position: relative;
      top: 100px;
  }

  .w70gborder{
    width: 150px;
    height: 80px;
    float: left;
  }

  .w70gborder > .fillgoldbtn{
    width: 170px;
    height: 60px;
    background-color: #fff7d3;
    position: relative;
    top:10px;
    display: block;
      margin: 0 auto;
  }

  .fillgoldbtn span{
    color:#3e3c48;
    text-transform: uppercase;
    font-weight: 900;
      position: relative;
      top: 10px;
  }

  .tbdarkblue{
    width: 100%;
      height: 40px;
      position: relative;
      top: 5px;
      border-top: 5px solid #2b2d3a;
      border-bottom: 5px solid #2b2d3a;
  }

  /*

    SuiteMyFriends CSS

  */

  .suitmyfriends-body{
        top: 74px;
    }

    .suite{
        background-image:url('../images/suitemyfriend.png');
        background-repeat: no-repeat;
        width:336px;
        height: 336px;
    }

    .suite > img {
        width: 215px;
        height: 215px;
        border-radius: 200px;
        position: relative;
        top: 61px;
    }

    .suite > .name-wrapper{
        color:black;
    }

    .float-categories{
        position: absolute;
    }

    .float-categories > img{
        width: 35px;
        height: 35px;
        z-index: 99999;
        position: relative;
    }

    .float-categories.A{        
        top: 21px;
        left: 172px;
    }

    .float-categories.B{
        top: 110px;
        right: 30px;
    }

    .float-categories.C{
        top: 66px;
        right: 52px;
    }

    .float-categories.D{
        top: 22px;
        right: 175px;
    }

    .float-categories.E{
        top: 41px;
        left: 86px;
    }

    .float-categories.F{
         
        top: 69px;
        left: 52px;
    }

    .float-categories.G{
        top: 109px;
        left: 29px;
    }

    .float-categories.H{
        
        top: 38px;
        right: 87px;
    }

    .selectedImg{
        width: 78px;
        height: 69px;
        position: absolute;
    }

    .selectedImg.c1 {
      right: -29px;
      top: -21px;
    }

    .selectedImg.c2 {
      right: -30px;
      top: -25px;
    }

    .selectedImg.c3{
        right: -30px;
        top: -25px;
    }

    .selectedImg.c4 {
        right: -15px;
        top: -22px;
    }

    .selectedImg.c5 {
      top: -29px;
      right: -11px;
    }

    .selectedImg.c6 {
      right: -12px;
      top: -26px;
    }

    .selectedImg.c7 {
      right: -15px;
      top: -22px;
      height: 67px !important;
    }

    .selectedImg.c8 {
      top: -26px;
      right: -30px;
    }

    .selectedImg.c5, .selectedImg.c8{
        height: 75px !important;
    }

    /*

    SelectFriends CSS

    */

    .select-header{
    text-align: center;
  }

  .select-body{
    width: 100%;
  }

  .circleswrapper, .friendswrapper{
    color: #e7d4ad !important;
    font-size: 18px;
  }

  .circleswrapper .circlesreapter{
    height: 
  }

  .selectedCircle{
    font-size: 20px;
    color:#fff7d3 !important; 
  }

  .selectedCircle .hline{
    margin: 15px auto !important;
  }

  .circlesreapter > .center.uppercase {
    margin:10px;
      line-height: 30px;
  }

  .center .uppercase span{
    color:#e7d3ac;
  }

  .hline{
    height: 1px;
    width: 210px;
    background-color: #72737c;
    margin: 7px auto !important;
  }

  /*

    MyFriends CSS

    */

    .friend-select{
        width:0px;
        position: absolute;
        right: 0px;
        top:0px;
        background-color: #36374b;
        -webkit-transition: 0.4s ease;
        -moz-transition: 0.4s ease;
        -o-transition: 0.4s ease;
        -ms-transition: 0.4s ease;
        transition: 0.4s ease;
    }

    

    #uniqesearch::-webkit-input-placeholder {
       left:0px;
       color: #fff7d4;
    }

    #uniqesearch:-moz-placeholder { /* Firefox 18- */
       left:0px;
       color: #fff7d4;
    }

    #uniqesearch::-moz-placeholder {  /* Firefox 19+ */
       left:0px;
       color: #fff7d4;
    }

    #uniqesearch:-ms-input-placeholder {  
       left:0px;
       color: #fff7d4;
    }

    .additional{
        text-transform: initial !important;
        font-family: Lato;
          background-color: #171820;
    }

    /*

    InviteFriends CSS

  */

  .invite-body{
    width: 100%;
    text-align: center;
  }

  #WhereInput{
      border: none;
  }

  .h55blue > span{
      position: relative;
      top: 19px;
  }

  

  .withme{
    height: 61px;
    font-size: 20px;
  }

  .map-size{
    width: 100%;
    height: 406px;
    position: relative;
  }

  .map-size > .sendinvitation{
    position: absolute;
      bottom: 17px;
      right: 17px;
      width: 79px;
      height: 78px;
      background-color: #212437;
      z-index: 99999;
      border-radius: 150px;
  }

  .map-size > .sendinvitation:hover{
    background-color: #2c3048;
  }

  .withme-wrapper{
    width: 100%;
    height: 0px;
    position: relative;
    overflow: hidden;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    -ms-transition: 0.4s ease;
    transition: 0.4s ease;
  }

  /*

    Invitation CSS

    */

    .invitation-header{
      text-align: center;
  }

  .comejoinme{
    width:359px;
    height:220px;
    background-image: url('../images/joinme.png');
    margin:0 auto;
  }

  .w120{
    width:120px;
    height: 30px;
  }

  .rspov{
      padding-bottom: 5px;
      padding-top: 5px;
      border-top: 1px solid;
      border-bottom: 1px solid;
      letter-spacing: 2px;
      width: 150px;
  }

  .invitation-body{
    width: 100%;
  }

  .invitation-footer .sendinvitation{
    width: 60px;
      height: 58px;
    border-radius: 150px;
    background-image: url('../images/sendinvitation_purple.png');
  }

  .friendsInvited-wrapper{
    width: 100%;
    height: 0px;
    position: relative;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    -ms-transition: 0.4s ease;
    transition: 0.4s ease;
  }

  section.dontinvite-wrapper{
    position: absolute;
      left: 205px;
      top: -22px;
      width: 50px;
      height: 25px;
      text-align: center;
      border: 1px solid #fff7d4;
  }

  .px1down{
      top: 1px;
  }

  .maxheight66{
    max-height: 66px;
  }

  .top-20{
    top:-20px;
  }

@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3){
      
      body,html{
        padding:0;
        margin:0;
        width: 360px;
        overflow: hidden;
      }

      #wrapper{
        width: 360px !important;
        height:568px !important;
      }

      .header{
          font-size: 18px !important;
          border: 2px solid #fff7d4;
          color: #fff7d4;
          padding: 10px; 
          display: block;
          width: 100%;
          text-transform: initial !important;
          text-align: center;
          width: 93%;
      }

      .comejoinme{
        width:359px;
        height:220px;
        background-image: url('../images/joinme.png');
      }

  }
