
<div class="home-wrapper">

	<div class="home-header">
		
	</div>
	
	<div class="home-body">
		<div ng-click="$parent.changeURL('invitefriends')" class="invitebtn"></div>
	</div>

	<div class="home-footer">
		<div class="footer-navbar">
			<div ng-click="$parent.changeURL('myfriends')" class="w70gborder pointer">
				<div class="fillgoldbtn"> 
					<div class="tbdarkblue"> <span> Filtered </span> </div> 
				</div>
			</div>
			<div ng-click="$parent.changeURL('suitmyfriends')" class="w70gborder pointer">
				<div class="fillgoldbtn"> 
					<div class="tbdarkblue"> <span> Unfiltered </span> </div> 
				</div>
			</div>
		</div>
		<div class="clear"> </div>
	</div>
	
</div>
