<style type="text/css">
	
	span,a,p,h1,h2{
		text-transform: uppercase;
	}

	span{
		color: #fff7d4;
	}

	h1,h2{
		color:#e7d4ad;
	}

	.invitation-header{
		  text-align: center;
	}

	.comejoinme{
		width:359px;
		height:220px;
		background-image: url('../images/joinme.png');
	}

	.w120{
		width:120px;
		height: 30px;
	}

	.rspov{
		  padding-bottom: 5px;
		  padding-top: 5px;
		  border-top: 1px solid;
		  border-bottom: 1px solid;
		  letter-spacing: 2px;
		  width: 150px;
	}

	.invitation-body{
		width: 100%;
	}

	.invitation-footer .sendinvitation{
		width: 61px;
  		height: 59px;
		border-radius: 150px;
		background-image: url('../images/sendinvitation_purple.png');
	}

	.friendsInvited-wrapper{
		width: 100%;
		height: 0px;
		position: relative;
		overflow: hidden;
		-webkit-transition: 0.4s ease;
		-moz-transition: 0.4s ease;
		-o-transition: 0.4s ease;
		-ms-transition: 0.4s ease;
		transition: 0.4s ease;
	}

	section.dontinvite-wrapper{
		position: absolute;
  		left: 205px;
  		top: -22px;
  		width: 50px;
  		height: 25px;
  		text-align: center;
  		border: 1px solid #fff7d4;
	}

	.px1down{
		position: relative;
  		top: 1px;
	}

</style>

<div class="invitation-wrapper">

	<section class="invitation-header header">
		<span ng-click="showHideFriends()" class="inline-block center size15"> {{invitedFriendList.length}} friends invited 
			<span ng-if="!showFriends"> &#9660; </span> <span ng-if="showFriends"> &#9650; </span> 
		</span>
	</section>

	<section class="friendsInvited-wrapper">
		<div class="paddbor" ng-repeat="friend in invitedFriendList">
			<div class="inline-block imgprof" ng-style="{'background-image':'url({{friend.SmallProfilePicture}})'}">
						
			</div>
			<div class="inline-block relative">
				<span class="titledisplay inline-block" ng-if="friend.FirstName"> {{friend.FirstName}} </span>
				<span class="titledisplay inline-block" ng-if="friend.LastName"> {{friend.LastName}} </span>
				<section class="dontinvite-wrapper" ng-click="dontInvite(friend)"> <span class="px1down"> &#x2715; </span> </section>
			</div>
		</div>
	</section>
	
	<section class="invitation-body">
	
		<section class="comejoinme">  </section>
		<section>
			<span class="center block size30"> I'm at the </span>
			<span class="center block size50"> {{eventLocation.name}} </span>
			<span class="center block"> {{eventLocation.formatted_address}} </span>
			<div class="block center margtop20"> 
				<span class="rspov center block"> rspov </span>
			</div>	
		</section>	

	</section>

	<section class="invitation-footer margtop20">
		<section class="center"> 
			<span class="size40 marginright50" ng-click="cancelInvitation()"> &#x2715; </span>
			<span class="size40 marginright50"> &#x2713; </span>
			<span class="size40"> ? </span>
		</section>
		<section class="sendinvitation center margtop20">  </section>
	</section>
	
</div>