<style type="text/css">
	
	span,a,p,h1,h2{
		text-transform: uppercase;
	}

	span{
		color: #fff7d4;
	}

	h1,h2{
		color:#e7d4ad;
	}

	.invitation-header{
		
	}

	.comejoinme{
		width:359px;
		height:220px;
		background-image: url('../images/joinme.png');
	}

	.w120{
		width:120px;
		height: 30px;
	}

	.rspov{
		  padding-bottom: 5px;
		  padding-top: 5px;
		  border-top: 1px solid;
		  border-bottom: 1px solid;
		  letter-spacing: 2px;
		  width: 150px;
	}

	.invitation-body{
		width: 100%;
	}

	.invitation-footer .sendinvitation{
		width: 61px;
  		height: 59px;
		border-radius: 150px;
		background-image: url('../images/sendinvitation_purple.png');
	}

</style>

<div class="invitation-wrapper">

	<div class="invitation-header header">
		<span class="block center size15"> {{friendList.length}} friends invited </span>
		<span class="block center size15">invite friends</span>
	</div>
	
	<div class="invitation-body">
	
		<div class="comejoinme">  </div>
		<div>
			<span class="center block size30"> I'm at the </span>
			<span class="center block size50"> {{eventLocation.name}} </span>
			<span class="center block"> {{eventLocation.formatted_address}} </span>
			<div class="block center margtop20"> 
				<span class="rspov center block"> rspov </span>
			</div>	
		</div>	

	</div>

	<div class="invitation-footer margtop20">
		<div class="center"> 
			<span class="size40 marginright50"> &#x2715; </span>
			<span class="size40 marginright50"> &#x2713; </span>
			<span class="size40"> ? </span>
		</div>
		<div class="sendinvitation center margtop20">  </div>
	</div>
	
</div>