<style type="text/css">

	h1,h2{
		color:#e7d4ad;
	}

	.invite-header{
		
	}

	.invite-body{
		width: 100%;
		text-align: center;
	}

	#WhereInput{
	  	border: none;
	}

	.h55blue > span{
  		position: relative;
  		top: 19px;
	}

	.left25{
		left: 25px;
	}

	.withme{
		height: 61px;
		font-size: 20px;
	}

	.map-size{
		width: 100%;
		height: 406px;
		position: relative;
	}

	.sendinvitation{
		position: absolute;
	  	bottom: 17px;
	  	right: 17px;
	  	width: 79px;
	  	height: 78px;
	  	background-color: #212437;
	  	z-index: 99999;
	  	border-radius: 150px;
	}

	.sendinvitation:hover{
		background-color: #2c3048;
	}

	.withme-wrapper{
		width: 100%;
		height: 0px;
		position: relative;
		overflow: hidden;
		-webkit-transition: 0.4s ease;
		-moz-transition: 0.4s ease;
		-o-transition: 0.4s ease;
		-ms-transition: 0.4s ease;
		transition: 0.4s ease;
	}

	.height100{
    	height:100%;
  	}

</style>

<div class="withme-wrapper">
	<div class="withmerepeater">
		<div>
			<input class="h55blue height55 size18" placeholder="search" type="text" ng-model="searchFriend" >
			<div class="searchbtn"> </div>
		</div>
		<div class="categoriesSection paddtb15">
			<span class="gold uppercase marginleft25 size20">person Categories</span>
			<section id="category-wrapper" class="center">
		        <div ng-repeat="category in categoryList" class="inline-block">
		            <div ng-click="addRemoveCategory(category,$index)" ng-class="{yellowCover : category.IsSelected == true}" class="category" ng-style="{ 'background-image': 'url(' + category.Picture + ')' }">  </div>

		        </div>
		    </section>
		</div>
		<div class="scroll maxheight275">
			<div class="paddbor" ng-repeat="friend in friendList | filter:searchFriend | orderBy:[nullsCategoriesToBottom] | sortByCategory:selectedCategoryList" ng-init="friend.IsSelected = false" ng-click="selectFriend(friend);"  ng-class="{darkviolet: friend.IsSelected == true}">
				<div class="inline-block imgprof" ng-style="{'background-image':'url({{friend.profilePicture}})'}">
							
				</div>
				<div class="inline-block">
					<span class="titledisplay inline-block gold uppercase" ng-if="friend.name"> {{friend.name}} </span>
				</div>
			</div>
		</div>
		
		<div class="h55blue h54 rglbtn uppercase" ng-click="chooseWithMe()"> <span> Choose </span>  </div>
	</div>
</div>

<div class="invite-wrapper">

	<div class="invite-header header">
		<span> Invite friends </span>
	</div>
	
	<div class="invite-body">
		<div>
			<input class="h55blue height55 size18" id="WhereInput" type="text" ng-autocomplete ng-model="autoCompleteTemplate" options="autoComplete.options" details="autoComplete.details" ng-cloak placeholder="Bar name" />	
		</div>
		<div class="map-size">
			<div class="sendinvitation" ng-click="sendInvitation()"> <span class="sendicon">  </span> </div>	
			<leaflet class="map-size" markers="markers" center="center"></leaflet>	
		</div>
	</div>

	<div class="invite-footer">
		<div class="h55blue withme" ng-click="addRemoveWithMe()"> <span class="left25"> + with me now </span> </div>
	</div>
	
</div>


