<!--  Presenting all user friends with their categories  -->
<div class="myfriends-wrapper">

    <!--  Presenting all categories  -->
    <div class="myfriends-header">

    </div>

    <!--  Presenting all user's friends, sorted by categories  -->
    <div class="myfriends-body">
        <div class="categoriesSection">
            <p>Categories are :</p>
            <ul>
                <li ng-repeat="x in categoryList">
                    {{x}}
                </li>
            </ul>
        </div>
        <div class="friendsSection">
            <p>Friends are :</p>
            <ul>
                <li ng-repeat="x in friendList">
                    {{x}}
                </li>
            </ul>
        </div>
    </div>

    <div class="myfriends-footer">
        <div class="footer-navbar">
            <button class="btn btn-primary" ng-click="enterApp()"> Enter </button>
        </div>
        <div class="clear"> </div>
    </div>

</div>
