<!--  Presenting all user friends with their categories  -->
<div class="myfriends-wrapper">

    <!--  Presenting all categories  -->
    <div class="myfriends-header">

    </div>

    <!--  Presenting all user's friends, sorted by categories  -->
    <div class="myfriends-body">
        <div class="categoriesSection">
            <p>Categories are :</p>
            <ul>
                <li ng-repeat="category in categoryList">
                    {{category}}
                </li>
            </ul>
        </div>
        <div class="friendsSection">
            <p>Friends sorted by categories are :</p>
            <ul>
                <li ng-repeat="friend in friendList | orderBy: [nullsCategoriesToBottom].concat(predicate)">
                    {{friend}}
                </li>
            </ul>
        </div>
    </div>

    <div class="myfriends-footer">
        <div class="footer-navbar">
            <button class="btn btn-primary" ng-click="enterApp()"> Enter </button>
        </div>
        <div class="clear"> </div>
    </div>

</div>
