<!--  Presenting all user friends with their categories  -->
<div class="myfriends-wrapper clearBackground">
    <style>


        
        .clearBackground{
            background: #ffffff !important;
        }

        .category{
            width: 70px;
            height: 69px;
            background-color: #e3d5b2;
            border-radius: 150px;
            background-repeat: no-repeat;
            background-size: contain;
        }

        .yellowCover{
            background-color: #9a9383 !important;
        }
    </style>

    <!--  Presenting all categories  -->
    <div class="myfriends-header">
        <input class="h55blue height55 size18" id="WhereInput" type="text" ng-autocomplete ng-model="autoCompleteTemplate" options="autoComplete.options" details="autoComplete.details" ng-cloak placeholder="Filtered" />
    </div>

    <!--  Presenting all user's friends, sorted by categories  -->
    <div class="myfriends-body">
        <div class="categoriesSection">
            <p>Categories are :</p>
            <ul>
                <li ng-repeat="category in categoryList" class="inline-block">
                    <div ng-click="addRemoveCategory(category,$index)" ng-class="{yellowCover : category.IsSelected == true}" class="category" ng-style="{ 'background-image': 'url(' + category.Picture + ')' }">  </div>

                </li>
            </ul>
        </div>
        <div class="friendsSection">
            <p>Friends sorted by categories are :</p>
            <ul>
                <li ng-repeat="friend in friendList | orderBy:[nullsCategoriesToBottom] | sortByCategory:selectedCategoryList ">
                    {{friend.name}}
                </li>
            </ul>
        </div>
    </div>

    <div class="myfriends-footer">
        <div class="footer-navbar">

        </div>
        <div class="clear"> </div>
    </div>

</div>
