<style type="text/css">

	h1,h2{
		color:#e7d4ad;
	}

	.select-header{
		text-align: center;
	}

	.select-body{
		width: 100%;
		margin-top: 15px;
	}

	.circleswrapper, .friendswrapper{
		color: #e7d4ad !important;
		font-size: 18px;
	}

	.circleswrapper .circlesreapter{
		height: 
	}

	.selectedCircle{
		font-size: 20px;
		color:#fff7d3 !important;	
	}

	.selectedCircle .hline{
		margin: 15px auto !important;
	}

	.circlesreapter > .center.uppercase {
		margin:10px;
		  line-height: 30px;
	}

	.center .uppercase span{
		color:#e7d3ac;
	}

	.hline{
		height: 1px;
		width: 210px;
		background-color: #72737c;
		margin: 7px auto !important;
	}

</style>

<div class="select-wrapper">

	<section class="select-header header">
		<span> Select friends </span>
	</section>
	
	<div class="select-body">
		<!-- Get All Friends Circles -->
		
		<section class="circleswrapper">
			<span class="gold uppercase marginleft25 size20">Facebook Circles</span>
			<!-- Circles -->
			<div class="circlesreapter">
				<div class="center uppercase" ng-repeat="circle in circleList" ng-click="selectCircle(circle);" ng-class="{selectedCircle: circle.IsSelected == true}">
					<span> {{circle.value}} </span>
					<div class="hline"></div>
				</div>
			</div>
		</section>

		<!-- Select all friends \ some of them -->
		<section class="friendswrapper">
			<span class="gold uppercase marginleft25 size20">person categories</span>
			<div id="friends_repeater">
				<div class="paddbor height70" ng-repeat="friend in friendList | sortByCircle:selectedCircle" ng-init="friend.IsSelected = false" ng-click="selectFriend(friend);"  ng-class="{darkviolet: friend.IsSelected == true}">
					
					<div class="friend-details-wrapper">

						<div class="inline-block imgprof" ng-style="{'background-image':'url({{friend.profilePicture}})'}">
						
						</div>
						<div class="inline-block">
							<span class="titledisplay inline-block uppercase" ng-if="friend.name"> {{friend.name}} </span>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<!-- Filter Friends By Categories -->
	</div>

	<div class="select-footer">
		<div class="h55blue h54 rglbtn" ng-click="selectedFriends.length == friendList.length ? unsellectAll() : selectAll()"> <span> All </span>  </div>
		<div class="h55blue h54 rglbtn" ng-click="sendAll(); alertIfFriendNotSelected()" ng-disabled="isAnyFriendSelected"> <span> Send </span>  </div>
	</div>
	
</div>