<style type="text/css">
	
	.select-header{
		text-align: center;
		width: 100%;
		margin-top: 15px;
	}

	.select-header{
		font-size: 45px;
	}

	.select-body{
		width: 100%;
		text-align: center;
		height: 35px;
		margin-top: 15px;
	}

</style>

<div class="select-wrapper">

	<div class="select-header">
		<span> Select Friends </span>
	</div>
	
	<div class="select-body">
		<!-- Get All Friends Circles -->
		
		<div class="circleswrapper">
			
		</div>

		<!-- Select all friends \ some of them -->
		<div class="friendswrapper">

			<!-- Friends Categories -->
		</div>
		
		<!-- Filter Friends By Categories -->
	</div>

	<div class="select-footer">
		
	</div>
	
</div>