<style type="text/css">
	
	.signup-header{
		text-align: center;
		width: 100%;
		font-size: 45px;
		height:279px;
	}

	.signup-body{
		width: 100%;
		position: relative;
		text-align: center;
		margin-top: 15px;
		height: 240px;
	}

	.connectbtn{
		width: 250px;
	  	height: 45px;
	  	margin: 0 auto;
	  	position: relative;
	  	top: 70px;
	}


</style>

<div class="signup-wrapper">

	<div class="signup-header">
		<div class="header-logo"> </div>
	</div>
	
	<div class="signup-body">
		<div class="connectbtn goldenbtn" ng-click="facebookInsert()"> <span> Connect With Facebook </span> </div>
	</div>

	<div class="signup-footer">
		
	</div>
	
</div>
