<style type="text/css">
	
	.signup-header{
		text-align: center;
		width: 100%;
		margin-top: 15px;
	}

	.signup-header{
		font-size: 45px;
	}

	.signup-body{
		width: 100%;
		text-align: center;
		height: 35px;
		margin-top: 15px;
	}



</style>

<div class="signup-wrapper">

	<div class="signup-header">
		<span> Suit My Beer </span>
	</div>
	
	<div class="signup-body">
		<button class="btn btn-primary" ng-click="facebookInsert()"> Sign in with Facebook </button>
	</div>

	<div class="signup-footer">
		
	</div>
	
</div>
