<!--  Presenting all user friends with their categories  -->
<style>

    .redText{

        color:red;
    }

    .suitmyfriends-body{
        top: 74px;
    }

    .suite{
        background-image:url('../images/suitemyfriend.png');
        background-repeat: no-repeat;
        width:336px;
        height: 336px;
    }

    .suite > img {
        width: 215px;
        height: 215px;
        border-radius: 200px;
        position: relative;
        top: 61px;
    }

    .suite > .name-wrapper{
        color:black;
    }

    .float-categories{
        position: absolute;
    }

    .float-categories > img{
        width: 35px;
        height: 35px;
        z-index: 99999;
        position: relative;
    }

    .float-categories.A{        
        top: 20px;
        left: 175px;
    }

    .float-categories.B{
        top: 110px;
        right: 30px;
    }

    .float-categories.C{
        top: 66px;
        right: 52px;
    }

    .float-categories.D{
        top: 22px;
        right: 179px;
    }

    .float-categories.E{
        top: 41px;
        left: 86px;
    }

    .float-categories.F{
         
        top: 69px;
        left: 52px;
    }

    .float-categories.G{
        top: 109px;
        left: 29px;
    }

    .float-categories.H{
        
        top: 38px;
        right: 87px;
    }

    .selectedImg{
        width: 78px;
        height: 69px;
        position: absolute;
    }

    .selectedImg.c1 {
      right: -24px;
      top: -21px;
    }

    .selectedImg.c2 {
      right: -30px;
      top: -25px;
    }

    .selectedImg.c3{
        right: -30px;
        top: -25px;
    }

    .selectedImg.c4 {
      right: -18px;
      top: -21px;
    }

    .selectedImg.c5 {
      top: -29px;
      right: -11px;
    }

    .selectedImg.c6 {
      right: -12px;
      top: -26px;
    }

    .selectedImg.c7 {
      right: -15px;
      top: -22px;
      height: 67px !important;
    }

    .selectedImg.c8 {
      top: -26px;
      right: -30px;
    }

    .selectedImg.c5, .selectedImg.c8{
        height: 75px !important;
    }

</style>

<div class="suitmyfriends-wrapper">

    <div class="suitmyfriends-header header">
        <span>Suit My Friends</span>
    </div>
    <!--  Presenting all user's friends, sorted by categories  -->
    <div class="suitmyfriends-body relative">
        <div id="friendPictureSection">
                <div class="suite relative center">
                    <div class="categories-section">
                        <div ng-repeat="category in categoryList" ng-click="selectCategory(category,$event)" class="float-categories {{category.Title}}" >
                            <img ng-src="{{category.Picture}}"> 
                            <div class="selectedImg c{{$index+1}}" ng-style="{'background-image': 'url({{category.SelectedPic}})' }" ng-if="category.IsSelected"> </div>
                            
                        </div>      
                    </div>
                    <img ng-src="{{friendList[friendIndex].profilePicture}}"  >
                    <h2 id="curvedName" class="name-wrapper center relative size20"> {{friendList[friendIndex].name}} </h2>
                </div>
        </div>
    </div>

    <div class="myfriends-footer">
        <div class="footer-navbar">
        </div>
        <div class="clear"> </div>
    </div>

</div>
