<!--  Presenting all user friends with their categories  -->

<div class="suitmyfriends-wrapper">

    <div class="suitmyfriends-header header">
        <span>Suit My Friends</span>
    </div>
    <!--  Presenting all user's friends, sorted by categories  -->
    <div class="suitmyfriends-body relative">
        <div id="friendPictureSection">
                <div class="suite relative center">
                    <div class="categories-section">
                        <div ng-repeat="category in categoryList" ng-click="selectCategory(category,$event)" class="float-categories {{category.Title}}" >
                            <img ng-src="{{category.Picture}}"> 
                            <div class="selectedImg c{{$index+1}}" ng-style="{'background-image': 'url({{category.SelectedPic}})' }" ng-if="category.IsSelected"> </div>
                            
                        </div>      
                    </div>
                    <img ng-src="{{friendList[friendIndex].bigProfilePicture}}" >
                    <h2 id="curvedName" class="name-wrapper center relative size20"> {{friendList[friendIndex].name}} </h2>
                </div>
        </div>
    </div>

    <div class="myfriends-footer">
        <div class="footer-navbar">
        </div>
        <div class="clear"> </div>
    </div>

</div>
