<style type="text/css">

	span,a,p{
		color:#fff7d3;
	}

	.welcome-wrapper{
		width: 100%;
	}

	.welcome-header{
		height: 170px;
	}

	.welcome-body img{
		  text-align: center;
		  display: block;
		  margin: 0 auto;
		  border-radius: 120px;
	}

	.connectbtn{
		width: 150px;
	  	height: 45px;
	  	margin: 0 auto;
	}

	.welcometext{
		margin:0 auto;
		text-align: center;
		margin-top: 20px;
	}

	.welcome-body{
		height: 240px;
	}

	.welcome-footer{
		position: relative;
  		top: 65px;		
	}

	

</style>

<div class="welcome-wrapper">

	<div class="welcome-header">
		<div class="header-logo"> </div>
	</div>
	
	<div class="welcome-body">
		<img ng-src="{{connectedUser.get().userObject.mediumProfilePicture}}">

		<div class="welcometext">
			<span> Hello {{ connectedUser.get().userObject.first_name }} </span>
		</div>

	</div>

	<div class="welcome-footer">
		<div class="connectbtn goldenbtn" ng-click="enterApp()"> <span> Enter </span> </div>
	</div>
	
</div>
